.sign-in-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
    padding: 1rem;
}

.sign-in-header-text {
    margin-bottom: 4rem;
}

.sign-in-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.sign-in-up-link a:hover {
    text-decoration: none;
    color: #fd772c;
}