div.card-wrapper {
    background-color: #fff;
    padding: 2rem;
}

.private-home-container h2 {
    font-size: 1.5rem;
}

.private-home-container h3 {
    font-size: 1.3rem;
}

.private-home-container a.card-header {
    background-color: #F0F1F7;
}