/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .global-container {
    max-width: 768px;
    margin: 0 auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .global-container {
    max-width: 992px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .global-container {
    max-width: 1200px;
  }
}
