.navbar {
  justify-content: space-between;
}

.navbar .nav-item a {
  color: #fff;
}

.navbar .nav-item a:hover {
  color: var(--main-brand-color);
}

.navbar-brand .nav-logo {
  color: var(--main-brand-color);
}