.navbar {
  justify-content: center;
}

.navbar .nav-item a {
  color: #fff;
}

.navbar .nav-item a:hover {
  color: var(--main-brand-color);
}

.navbar-brand .nav-logo {
  color: var(--main-brand-color);
  font-size: 1.8rem;
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .navbar {
    justify-content: space-between;
  }
}