.adverts-container {
    justify-content: space-between;
    flex-flow: row wrap;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card {
        flex-basis: 49%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .card {
        flex-basis: 32%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .card {
        flex-basis: 24%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
