.advert-type {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  width: 2.5rem;
}

.card-price {
  font-size: 1.5rem;
}

.LA_IMAGEN {
    height: 253px;
    padding: 4px 4px 0;
    background-color: #fff;
    overflow: hidden;
    position: relative
}

.LA_IMAGEN img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.seller-name {
    color: #fd772c;
    text-decoration: underline;
}

.card-name {
  color: #253238;
  font-size: 1.2rem;
  line-height: 22px;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  color: #607d8b;
  font-size: 0.875rem;
  height: 65px;
  word-wrap: break-word;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.card-tags {
    display: flex;
    justify-content: space-evenly;
}