.advert-type {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.advert-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 1.5rem;
  margin: 0;
}

.advert-img-container {
  height: 253px;
  padding: 4px 4px 0;
  background-color: #fff;
  overflow: hidden;
  position: relative;
}

.advert-img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

.seller-name {
  color: #fd772c;
}

.seller-name:hover {
  color: #ffa572;
}

.card-name {
  color: #253238;
  font-size: 1.2rem;
  line-height: 22px;
  margin-bottom: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  position: relative;
  overflow: hidden;
  color: #607d8b;
  font-size: 0.875rem;
  height: 65px;
  word-wrap: break-word;
  line-height: 1.5;
  margin-top: 0.5rem;
}

.card-tags {
  display: flex;
  justify-content: space-evenly;
}

.sold-reserved-info-container {
  position: absolute;
  bottom: 0;
  width: calc(100% - 8px);
  display: flex;
  height: 2rem;
  align-items: center;
}

.sold-reserved-info-container div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  flex-grow: 1;
  font-weight: 500;
  color: #fff;
}

.reserved-info-item {
  background: #fd772c;
  border-bottom-left-radius: 5px;
}

.sold-info-item {
  background: var(--success);
  border-bottom-right-radius: 5px;
}

.edit-delete-advert-container {
  height: 3rem;
}

.edit-delete-advert-container .btn {
  flex-basis: 50%;
  color: #fff;
  border: 0;
  border-radius: 0;
}

.btn.btn-reserved {
  background-color: #fd772c;
  color: #fff;
}

.btn.btn-reserved:hover {
  background-color: #d55f1c;
}

.btn.btn-outline-reserved {
  background-color: #fff;
  border: 1px solid #fd772c;
  color: #fd772c;
}

.btn.btn-outline-reserved:hover {
  background-color: #fd772c;
  color: #fff;
}

.edit-delete-advert-container .edit-advert-btn {
  background-color: var(--info);
}

.edit-delete-advert-container .edit-advert-btn:hover {
  background-color: #138496;
}

.edit-delete-advert-container .edit-advert-btn a:hover {
  color: #fff;
}

.edit-delete-advert-container .delete-advert-btn {
  background-color: var(--danger);
}

.edit-delete-advert-container .delete-advert-btn:hover {
  background-color: #c82333;
}
