.detail {
    display: flex;
    flex-flow: column;
    height: 85vh;
    align-items: center;
    justify-content: center;
}


@media ( min-width: 992px ) {
    .detail .edit-ad-submit-btn {
        margin-top: 5rem;
    }

    .detail .card {
        width: 30%;
    }
}