:root {
  --main-brand-color: #ffc107;
}


html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  margin-bottom: 7rem;
  background: #E9EDF4;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: var(--main-brand-color);
}

.empty-field-error {
  color: red;
}

.font-size-1-5 {
  font-size: 1.5rem;
}

.font-size-2 {
  font-size: 2rem;
}